:root {
  --onSurface: #006e92;
  --surface: #e9f1fa;
  --primary: #00bfff;
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  background-color: var(--surface);
  min-height: 200vh;
}

/* Sections padding & header */
.about,
.project {
  padding: 8rem 24% 1.4rem;
}

.about h2,
.project h2 {
  color: var(--onSurface);
  text-align: center;
  font-size: 2.6rem;
  margin-bottom: 3rem;
}
/* Sections padding & header */

/* About starts */

.about .row {
  display: block;
  justify-content: center;
}

.about .row .about-img {
  max-width: 20rem;
  margin: auto;
}

.about .row .about-img img {
  width: 100%;
  border-radius: 100%;
}

.about .row .content {
  flex: 1 1 35rem;
  padding: 0 2rem;
}

.about .row .content ul {
  color: var(--onSurface);
}

.about .row .content span {
  color: var(--onSurface);
}

.about .row .content h3 {
  color: var(--onSurface);
  font-size: 1.8rem;
  margin-bottom: 0.4rem;
}

.about .row .content h4 {
  font-size: 1.2rem;
  font-weight: 300;
}

.about .row #left-content {
  text-align: end;
}

.about .row .content p {
  color: #000;
  margin-bottom: 1.2rem;
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 1.8;
}

/* Project starts */

.project .row {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5rem;
  justify-content: center;
}

.project h2 {
  margin-bottom: 1rem;
}

.project .row {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5rem;
  justify-content: center;
}

.project .row .project-card {
  text-align: center;
  padding-bottom: 4rem;
}

.project .row .project-card img {
  border-radius: 50%;
  width: 80%;
}

.project .row .project-card .project-card-title {
  color: #000;
  margin: 1rem auto 0.5rem;
}

.project .row .project-card .project-card-desc {
  color: #000;
  font-size: 1.2rem;
}

/* Project ends */

/* Media queries starts */

/* Laptop */
@media (max-width: 1366px) {
  html {
    font-size: 85%;
  }

  .about,
  .project {
    padding: 8rem 18% 1.4rem;
  }
}

/* Tablet or Phone */
@media (max-width: 758px) {
  html {
    font-size: 75%;
  }

  .about,
  .project {
    padding: 8rem 7% 1.4rem;
  }

  .project .row .project-card img {
    max-width: 25rem;
  }
}

/* Phone */
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
}

/* Media queries ends */
