:root {
  --primary: #00abe4;
  --surface: #e9f1fa;
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  background-color: var(--surface);
  color: #fff;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 7%;
  background-color: var(--primary);
}

.navbar .navbar-nav a {
  color: #fff;
  display: inline-block;
  font-size: 1.2rem;
  margin: 0 1rem;
}

.navbar .navbar-trailing a {
  color: #fff;
  margin: 0 0.5rem;
}
