:root {
  --primary: #006e92;
  --surface: #e9f1fa;
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  background-color: var(--surface);
  color: #fff;
  min-height: 200vh;
}

/* Navbar starts */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* Padding "a little to the left" 
  because the trailing is disabled on desktop */
  padding: 1.4rem 14% 1.4rem 7%;
  background-color: rgba(0, 171, 228, 0.8);
  border-bottom: 1px solid #00bfff;
  /* To make Navbar stays on top */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar .navbar-title {
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
}

.navbar .navbar-nav a {
  color: #fff;
  display: inline-block;
  font-size: 1.2rem;
  margin: 0 1rem;
}

.navbar .navbar-nav a:hover {
  color: var(--primary);
}

.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid var(--primary);
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
}

.navbar .navbar-trailing a {
  color: #fff;
  margin: 0 0.5rem;
}

.navbar .navbar-trailing a:hover {
  color: var(--primary);
}

#hamburger-menu {
  display: none;
}

/* Navbar ends */

/* Media queries starts */

/* Laptop */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}

/* Tablet or Phone */
@media (max-width: 758px) {
  html {
    font-size: 62.5%;
  }

  #hamburger-menu {
    display: inline-block;
  }

  .navbar {
    padding: 1.4rem 7%;
  }

  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: #fff;
    width: 30rem;
    height: 100vh;
    transition: 0.3s;
  }

  .navbar .navbar-nav.active {
    right: 0;
  }

  .navbar .navbar-nav a {
    color: #00bfff;
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }

  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }

  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.2);
  }
}

/* Phone */
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
}

/* Media queries ends */
