:root {
  --onSurface: #006e92;
  --surface: #e9f1fa;
  --primary: #00bfff;
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  color: #fff;
  background-color: var(--surface);
  min-height: 200vh;
}

/* Navbar starts */

/* .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center; */
/* Padding "a little to the left" to make it look centered
  because the navbar trailing is disabled on desktop view */
/* padding: 1.4rem 14% 1.4rem 7%;
  background-color: rgba(0, 171, 228, 0.8);
  border-bottom: 1px solid var(--primary); */
/* To make Navbar stays on top even while scrolling*/
/* position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
} */

/* .navbar .navbar-title {
  color: #fff;
  font-size: 2rem;
  font-weight: 700;
}

.navbar .navbar-nav a {
  color: #fff;
  display: inline-block;
  font-size: 1.2rem;
  margin: 0 1rem;
}

.navbar .navbar-nav a:hover {
  color: var(--onSurface);
}

.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid var(--onSurface);
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
}

.navbar .navbar-trailing a {
  color: #fff;
  margin: 0 0.5rem;
}

.navbar .navbar-trailing a:hover {
  color: var(--onSurface);
}

#hamburger-menu {
  display: none;
} */

/* Navbar ends */

/* Home starts */

/* .home {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url("../img/home-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.home::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 30%;
  bottom: 0;
  background: linear-gradient(
    0deg,
    rgba(233, 241, 250, 1) 8%,
    rgba(233, 241, 250, 0) 50%
  );
}

.home .content {
  padding: 1.4rem 7%;
  max-width: 60rem;
}

.home .content h1 {
  color: #fff;
  font-size: 5em;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
  line-height: 1.2;
}

.home .content h1 span {
  color: var(--primary);
}

.home .content .cta {
  color: #fff;
  margin-top: 1rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.4rem;
  background-color: var(--primary);
  border-radius: 0.5rem;
}

.home .content p {
  color: #fff;
  font-size: 1.6rem;
  margin-top: 1rem;
  line-height: 1.4;
  font-weight: 300;
} */

/* Home ends */

/* Sections padding & header */
.about,
.project {
  padding: 8rem 7% 1.4rem;
}

.about h2,
.project h2 {
  color: var(--onSurface);
  text-align: center;
  font-size: 2.6rem;
  margin-bottom: 3rem;
}
/* Sections padding & header */

/* About starts */

.about .row {
  display: block;
  justify-content: center;
}

.about .row .about-img {
  max-width: 20rem;
  margin: auto;
}

.about .row .about-img img {
  width: 100%;
  border-radius: 100%;
}

.about .row .content {
  flex: 1 1 35rem;
  padding: 0 2rem;
}

.about .row .content li {
  min-width: none;
  box-sizing: border-box;
}

.about .row .content ul {
  color: var(--onSurface);
}

.about .row .content span {
  color: var(--onSurface);
}

.about .row .content h3 {
  color: var(--onSurface);
  font-size: 1.8rem;
  /* margin-bottom: 1rem; */
}

.about .row #left-content {
  text-align: end;
}

.about .row .content p {
  color: #000;
  margin-bottom: 0.8rem;
  font-size: 1.3rem;
  font-weight: 300;
  line-height: 1.6;
}

/* Project starts */

.project .row {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5rem;
  justify-content: center;
}

.project h2 {
  margin-bottom: 1rem;
}

.project .row {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5rem;
  justify-content: center;
}

.project .row .project-card {
  text-align: center;
  padding-bottom: 4rem;
}

.project .row .project-card img {
  border-radius: 50%;
  width: 80%;
}

.project .row .project-card .project-card-title {
  color: #000;
  margin: 1rem auto 0.5rem;
}

.project .row .project-card .project-card-desc {
  color: #000;
  font-size: 1.2rem;
}

/* Project ends */

/* Media queries starts */

/* Laptop */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}

/* Tablet or Phone */
@media (max-width: 758px) {
  html {
    font-size: 62.5%;
  }

  /* #hamburger-menu {
    display: inline-block;
  }

  .navbar {
    padding: 1.4rem 7%;
  }

  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: #fff;
    width: 30rem;
    height: 100vh;
    transition: 0.3s;
  }

  .navbar .navbar-nav.active {
    right: 0;
  }

  .navbar .navbar-nav a {
    color: var(--primary);
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }

  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }

  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.2);
  } */

  .about .row {
    display: block;
  }

  .about .row #about-img {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
  }

  .about .row #about-img img {
    max-width: 25rem;
  }

  .project .row .project-card img {
    max-width: 25rem;
  }
}

/* Phone */
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
}

/* Media queries ends */
